/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#container {
    width: 800px;
    height: auto;
    margin: 0 auto;
}

/* 헤더 */
header {
    width: 100%;
    height: 36px;
}

header > h3 {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

header > p {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}

/* 푸터 */
footer {
    width: 100%;
    height: 36px;
}
footer > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: #777;
}

/* 메인 */
main {
    width: 100%;
    height: auto;
}

/* 로그인 */
.login {
    position: relative;
    width: 360px;
    height: auto;
    border: 1px solid #cfded8;
    box-sizing: border-box;
    margin: 100px auto;
}

.login > form {
    
}
.login table {
    margin-left: 52px;
    margin-top: 30px;
    border-collapse: collapse;
    border-spacing: 0;
}
.login table tr {}
.login table tr > td {}
.login table img {width: 20px;}
.login table input {
    width: 162px;
    height: 22px;
    margin-left: 6px;
    margin-bottom: 4px;
    border: 1px solid #e4eaec;
    background-color: #f7f7f7;
}

.login .btnLogin {
    position: absolute;
    right: 50px;
    top: 30px;
    width: 60px;
    height: 52px;
    background-color: #fdfdfd;
    border: 1px solid #bebebe;
}

.login > div {
    width: 100%;
    height: 104px;
    background: #f5f6fa;
    border-top: 1px solid #cfded8;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.login > div > p {
    margin: 10px 0;
}

.login > div > a {
    float: right;
}

/* 약관 */
.terms {
    width: 600px;
    height: auto;            
    margin: 60px auto;
}
.terms > table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}
.terms > table > caption {
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
    box-sizing: border-box;
}
.terms > table tr {}
.terms > table td {
    padding: 6px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.terms > table td > textarea {
    width: 100%;
    height: 200px;
    resize: none;
    background: #f7f7f7;
    border: 1px solid #e4eaec;
    padding: 2px;
    box-sizing: border-box;
}
.terms > table td > label {float: right;}
.terms > table td > label > input[type=checkbox] {}
.terms > table p {
    float: right;
}

.terms > div {
    float: right;
    margin-top: 10px;
}


/* 회원가입 */
.register {
    width: 600px;
    height: auto;            
    margin: 60px auto;
    overflow: hidden;
}

.register table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
    margin-bottom: 10px;
}
.register table caption {
    text-align: left;
    padding: 10px 0;
    font-weight: bold;
    box-sizing: border-box;
}

.register table tr > td {
    padding: 6px 12px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.register table tr > td:nth-child(1) {
    width: 105px;
    background: #f5f8f9;
}

.register table tr .nickInfo {margin-bottom: 6px;}
.register table input {
    width: 162px;
    height: 22px;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    text-indent: 6px;
}

.register table input[name=addr1] {
    display: block;
    width: 360px;
    margin: 4px 0;
}
.register table input[name=addr2] {
    display: block;
    width: 360px;
}
.register table button {
    border: none;
    vertical-align: bottom;
}
.register > form > div {
    float: right;
}

/* 글목록 */
.list {
    position: relative;
    width: 720px;
    margin: 60px auto;
}

.list > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.list table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.list table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #e5ecef;
    color: #383838;
}
.list table td {    
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;    
}
.list table tr > td:nth-child(1) {width:  50px; text-align: center; background: #fff;}
.list table tr > td:nth-child(2) {width:  auto; text-align: left;}
.list table tr > td:nth-child(3) {width: 100px; text-align: center;}
.list table tr > td:nth-child(4) {width: 100px; text-align: center;}
.list table tr > td:nth-child(5) {width:  50px; text-align: center;}

.list > .paging {
    padding: 20px;
    text-align: center;            
}
.list > .paging > a {
    padding: 8px;
    background: #f2f2f2;
    border: 1px solid #d7d7d7;            
}

.list > .paging > .current {
    border: 1px solid #6d6d6d;
    background: #888;
    color: #fff;
}
.list > .btnWrite {
    position: absolute;
    bottom: 14px;
    right: 0;
}

/* 글보기 */
.view {
    position: relative;
    width: 720px;
    margin: 60px auto;
}

.view > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.view table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.view table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #e5ecef;
    color: #383838;
}
.view table td {    
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;    
}
.view table td:nth-child(1) {
    width: 100px;
    background: #f5f8f9;
    text-align: center;
}
.view table input {
    width: 100%;
    height: 24px;
    border: 0;    
}
.view table textarea {
    width: 100%;
    height: 280px;
    resize: none;    
    border: 0;
}
.view > div {
    padding: 16px 0;
    text-align: right;
}

.view > section {
    padding: 20px;
    border: 1px solid #e3e3e3;
    background: #f9f9f9;
    margin-bottom: 16px;
}
.view > section > h3 {
    font-weight: bold;
}
.view > .commentList > article {
    border-top: 1px dotted #999;
    margin-top: 10px;
    padding-top: 10px;
}

.view > .commentList > article > textarea {
    width: 100%;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    resize: none;
    border: 0;
    background: transparent;
}
.view > .commentList > article > div {
    text-align: right;
}

.view > .commentList > .empty {
    padding: 20px 0;
    text-align: center;
}

.view > .commentForm > form > textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #e4eaec;
    margin: 10px 0;
    resize: none;
}
.view > .commentForm > form > div {
    text-align: right;
}



/* 글수정 */
.modify {
    position: relative;
    width: 720px;
    margin: 60px auto;
}

.modify > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.modify table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.modify table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #e5ecef;
    color: #383838;
}
.modify table td {    
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;    
}
.modify table td:nth-child(1) {
    width: 100px;
    background: #f5f8f9;
    text-align: center;
}
.modify table input {
    width: 100%;
    height: 24px;
    border: 0;    
}
.modify table textarea {
    width: 100%;
    height: 280px;
    resize: none;    
    border: 0;
}
.modify form > div {
    margin-top: 10px;
    text-align: right;
}

/* 글쓰기 */
.write {
    position: relative;
    width: 720px;
    margin: 60px auto;
}

.write > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.write table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.write table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #e5ecef;
    color: #383838;
}
.write table td {    
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;    
}
.write table td:nth-child(1) {
    width: 100px;
    background: #f5f8f9;
    text-align: center;
}
.write table input {
    width: 100%;
    height: 24px;
    border: 0;    
}
.write table textarea {
    width: 100%;
    height: 280px;
    resize: none;    
    border: 0;
}
.write form > div {
    margin-top: 10px;
    text-align: right;
}

/* 버튼 공통 */
.btnNext   { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #e9e9e9; color: #111;}
.btnSubmit { display: inline-block; padding: 7px; border: 1px solid #bebebe; background: #e9e9e9; color: #111;}
.btnWrite  { display: inline-block; padding: 7px; border: 1px solid #3b3c3f; background: #4b545e; color: #fff;}
.btnCancel { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btnDelete { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btnModify { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btnList   { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}